body {
  margin: 0;
  background: #0A0F1F;
  font-family: Arial, sans-serif;
  color: white;
}
.container {
  width: 90%;
  max-width: 850px;
  margin: 50px auto;
  background: #131b2e;
  padding: 30px;
  border-radius: 16px;
  border: 2px solid #1e90ff;
  box-shadow: 0 0 35px rgba(0,0,0,0.5);
}
h1 {
  text-align: center;
  font-size: 30px;
  color: #1e90ff;
  margin-bottom: 8px;
}
.sub {
  text-align: center;
  color: #b5c9f5;
  margin-bottom: 25px;
}
textarea {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  padding: 15px;
  background: #0d1425;
  color: white;
  border: 2px solid #1e90ff;
  font-size: 16px;
}
.select-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 20px 0;
}
select, input[type="range"] {
  width: 100%;
  background: #0d1425;
  border: 2px solid #1e90ff;
  border-radius: 8px;
  padding: 10px;
  color: white;
}
.range-panel {
  margin-top: 20px;
}
.btn {
  width: 100%;
  margin-top: 30px;
  padding: 15px;
  font-size: 20px;
  background: #1e90ff;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  background: #1676cc;
}
#statusMsg {
  margin-top: 20px;
  text-align: center;
  color: #4fe4ff;
}
